<html>
<%- include("./partials/head.ejs") %>


<body>

<%- include("./partials/nav.ejs") %>

        <div>
            <h1>Yeppy!!! page NOT found:)</h1>
        </div>

<%- include("./partials/footer.ejs") %>

</body>
</html>