<html>
<%- include("./partials/head.ejs") %>

<body>

<%- include("./partials/nav.ejs") %>

        <section class="about">
            <h2>About Mazi Blog</h2>
            <p>lorem jhsxgcddsuffqeg;yrfjhfjuyeyfuug'fwkf</p>
            <p>lorem jhsxgcddsuffqeg;yrfjhfjuyeyfuug'fwkf</p>
            <p>lorem jhsxgcddsuffqeg;yrfjhfjuyeyfuug'fwkf</p>
        </section>

<%- include("./partials/footer.ejs") %>

</body>
</html>